body {

    color: black;
    background-image: linear-gradient(to bottom right, white, lightblue);
    
}

.jumbotron {
    background-image: url("C:/Users/Dell 17/Desktop/UFT/Plotly-Belly-Button-Biodiversity/Images/BBB");
    background-size: 100% 100%;
    text-align: center;
}
