body {

    color: orangered;
    background-image: linear-gradient(to bottom right, lightyellow, lightblue);
    
}

.jumbotron {
    background-image: url("../../Images/BBB.jpg");
    background-attachment: 100% 100%;
    text-align: center;
}
