body {

    color: white;
    background-image: linear-gradient(to bottom right, lightyellow, lightblue);
    
}

.jumbotron {
    background-image: url("../../Images/ Belly Button Bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
}
